.overlay {
  position: fixed;
  z-index: 2002;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  @media (max-width: 480px) {
    background-color: white;
  }
}

.contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  padding: 20px ;
  border-radius: 46px;
  background: white;
  max-height: 99vh;

  @media (max-width: 700px) {
    width: 480px;
  }


  @media (max-width: 480px) {
    width: 100%;
    border-radius: 0;
    padding-top: 40px;
    max-height:unset;
  }
}



.content {
  max-width: 620px;
  width: 100%;
  max-height: 95vh;
  overflow-y: auto;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 480px) {
    max-height:unset;
  }
}

.titleBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  @media (max-width: 700px) {
    margin-bottom: 20px;
  }
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.closeBtn {
  font-size: 30px;
  cursor: pointer;
  color: #000000;
  transition: all 0.25s;
  &:hover {
    transform: scale(1.2);
  }
}

.line {
  width: 100%;
  height: 3px;
  background-color: #D8D8D8;
  margin-bottom: 30px;
}

.cartItems {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 30px;
}

.totalPrice {
  align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}

.cartFree {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #c41414;
}