.formBlock {
  width: 580px;
  background-color: #ffffff;
  border-radius: 46px;
  padding: 40px 60px;

  @media (max-width: 1200px) {
    width: 460px;
    padding: 40px;
  }

  @media (max-width: 992px) {
    width: 100%;
  }

}

.wrap {
  display:block;
  @media (max-width: 992px) {
    display:none;
  }
}

.formTitle {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 18px;

  @media (max-width: 1200px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.checkbox {
  display: none;
}

.box {
  border-radius: 4px;
  display: inline-block;
  width:16px;
  height: 16px;
  border: 1px solid grey;
  margin-right: 5px;
  position:relative;
  top: 3px;
}

.box::after {
  border-radius: 2px;
  content:"";
  width: 9px;
  height: 9px;
  background-color: #E1251B;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}

.checkbox:checked + .box::after {
  opacity: 1;
}



.field {
  font-size: 16px;
  padding: 22px 30px;
  border-radius: 14px;
  border-color: black;

  @media (max-width: 1200px) {
    font-size: 14px;
    padding: 20px;
    border-radius: 14px;
    border-color: black;
  }

}


.checkboxLabel {
  @media (max-width: 480px) {
    font-size: 14px;
    margin-top: 10px;
  }
}

.btnBlock {
  display: flex;
  justify-content: flex-end;
  height: 41px;
}

.btnSubmit {
  width: 100%;
  position:relative;
  padding: 8px 16px;
  background-color: #E1251B;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  color:#ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.25s;
  cursor: pointer;

  &:hover {
    background-color: #E1251B;
    border: 2px solid black;
  }

  &:active::after {
    background-color: transparent;
  }

  &:active {
    background-color: black;
  }

  &:disabled {
    background-color: #CDCBCA;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
  }

}

.label {
  margin-bottom: 10px;
}

.checkboxLabel {
  display: inline;
  margin: 0;
  padding: 0;
  @media (max-width: 480px) {
    font-size: 14px;
    margin-top: 10px;
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #E1251B;
}