.contactBlock {
  width: 580px;
  background-color: #ffffff;
  border-radius: 46px;
  padding: 32px 47px 36px 40px;
  
  @media (max-width: 1200px) {
    width: 460px;
    padding:40px;
  }
  @media (max-width: 992px) {
    width: 100%;
    padding:40px;
  }
}

.contactItem {
  padding: 0;
  margin-bottom: 8px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 6px;
}

.locationIcon {
  width: 32px;
  height: auto;
  object-fit: cover;
}


.letterIcon {
  width: 32px;
  height: auto;
  object-fit: cover;
}


.phoneIcon {
  width: 24px;
  height: auto;
  object-fit: cover;
}


.text {
  font-size: 24px;
  font-weight: 500;
  margin: 0;

  @media (max-width: 1200px) {
    font-size: 20px;
  }

  @media (max-width: 992px) {
    font-size: 18px;
  }
  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  @media (max-width: 992px) {
   column-gap: 10px;
  }
}

.icons {
  width: 230px;
  display: flex;
  justify-content: space-between;
  align-self: center;

  @media (max-width: 1200px) {
    width: 211px;
  }
  @media (max-width: 992px) {
    width: 278px;
    flex-shrink: 2;
  }
}


.underground {
  padding: 16px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border:1px solid black;
  border-radius: 44px;

  @media (max-width: 1200px) {
    padding: 10px 20px;
  }

  @media (max-width: 480px) {
   display: none;
  }

}

.undergroundIcon {
  width: 30px;
  height: 22px;

  @media (max-width: 1200px) {
    width: 24px;
    height: 18px;
  }


}
.undergroundLabel {
  font-size: 18px;
  margin: 0;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

.socialIcon {
  width: 42px;
  height: 42px;
  object-fit: cover;
  transition: all 0.25s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
  &:hover .svgIcon {
    fill:#E1251B;
  }
}

.svgIcon {
  width: 50px;
  height: 50px;
  transition: all 0.25s;
}