.wrapper {
  max-width: 1720px;
  width: 90vw;
  margin-top: 50px;
  margin-bottom: 170px;
  border-radius: 46px;
  background-color: #EDEDED;
  padding: 140px 0;

  @media (max-width: 1600px) {
    width: 100vw;
    max-width: 1360px;
    margin-bottom: 150px;
  }

  @media (max-width: 1200px) {
    width: 100vw;
    padding: 100px 40px;
    margin-bottom: 130px;
  }
  @media (max-width: 992px) {
    padding: 100px 40px;
    margin-bottom: 120px;
  }
  @media (max-width: 480px) {
    padding: 50px 20px 60px;
    margin-bottom: 80px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  position: relative;

  @media (max-width: 1200px) {
    max-width: 940px;
  }
}

.title {
  font-size: 96px;
  text-align: center;
  margin-bottom: 100px;

  @media (max-width: 1200px) {
    font-size: 84px;
    margin-bottom: 70px;
  }

  @media (max-width: 992px) {
    font-size: 84px;
    margin-bottom: 60px;
  }

  @media (max-width: 480px) {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: flex-start;
  @media (max-width: 1200px) {
    padding: 0 5px;
  }
  @media (max-width: 992px) {
    column-gap: 20px;
  }
  @media (max-width: 780px) {
    justify-content: center;
  }
}

.usefulIcon {
  position:absolute;
  bottom: -80px;
  left: 50%;
  width: 603px;
  object-fit: cover;
}



.placeholderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  cursor: pointer;

  @media (max-width: 1200px) {
    width: 300px;
  }
  @media (max-width: 992px) {
    width: 334px;
  }
  @media (max-width: 480px) {
    width: 320px;
  }
}

.placeholderImg {
  width: 380px;
  height: 330px;
  object-fit: cover;
  border-radius: 46px;
  @media (max-width: 1200px) {
    width: 300px;
    height: 260px;
  }
  @media (max-width: 992px) {
    width: 334px;
    height: 288px;
  }
  @media (max-width: 480px) {
    width: 320px;
    height: 276px;
  }
}

.placeholderDate {
  width: 140px;
  @media (max-width: 1200px) {
    width: 140px;
  }
  @media (max-width: 992px) {
    width: 140px;
  }
  @media (max-width: 480px) {
    width: 140px;
  }
}

.placeholderTitle {
  margin-top: 20px;
  width: 370px;
  height: 40px;
  @media (max-width: 1200px) {
    margin-top: 20px;
    width: 290px;
    height: 20px;
  }
  @media (max-width: 992px) {
    margin-top: 20px;
    width: 324px;
    height: 20px;
  }
  @media (max-width: 480px) {
    margin-top: 20px;
    width: 310px;
    height: 20px;
  }
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;

  @media (max-width: 480px) {
    margin-top: 40px;
  }

}

.customButton {
  padding: 18px 36px;
  background-color: #E1251B;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
  color:#ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: all 0.3s;

  &:hover {
    border: 2px solid black;
  }

  &:active {
    background-color: black;
  }

  &:disabled {
    background-color: #CDCBCA;
  }

  &:disabled::after {
    background-color: transparent;

  }

  @media (max-width: 992px) {
    font-size: 12px;
    padding: 16px 30px;
  }

  @media (max-width: 785px) {
    width: 90%;
  }
}
