.wrapper {
  margin: 170px auto 50px;
  max-width: 1720px;
  padding-top: 140px;
  padding-bottom: 170px;
  background-color: #EDEDED;
  border-radius: 46px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1600px) {
    margin-top: 150px;
  }

  @media (max-width: 1200px) {
    margin-top: 130px;
    padding: 100px 100px;
  }

  @media (max-width: 992px) {
    margin-top: 120px;
    padding: 100px 20px;
  }


  @media (max-width: 700px) {

    padding: 50px 20px 60px;
    box-sizing: border-box;
    min-width: 360px;
  }

  @media (max-width: 480px) {
    margin-top: 80px;
  }
}

.title {
  font-size: 96px;
  text-align: center;
  margin-bottom: 42px;

  @media (max-width: 1200px) {
    font-size: 84px;
  }


  @media (max-width: 480px) {
    font-size: 60px;
  }
}

.content {
  position: relative;
  max-width: 1200px;
  padding: 0;
}

.gymBlock {
  max-width: 1180px;
  position: relative;
  margin-top: 58px;
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  @media (max-width: 1200px) {
    column-gap: 10px;
   row-gap: 20px;
    //width:100%;
  }
}

.gymTitle {
  width: 350px;
  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 700px) {
    //width: calc(100% - 40px);
    width: 100%;
  }
}

.btnShow {
  display: none;
  @media (max-width: 1200px) {
    display: block;
    //width: 100%;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 700px) {
    display: block;
    //width: calc(100% - 40px);
    width: 100%;
  }
}

.gymContent {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  column-gap: 30px;
  max-height: 1000px;
  flex-wrap: wrap;


  @media (max-width: 1200px) {
    column-gap: 0;
    width: 100%;
    align-items: center;
    display: none;
  }
  @media (max-width: 700px) {
    width: calc(100% - 40px);
    height: auto;
    flex-wrap: nowrap;
    max-height: unset;
    display: none;
  }
  @media (max-width: 480px) {
    width: 100%;
  }
}

.showContent {
  transition: all 0.25s;
  @media (max-width: 1200px) {
    display: flex;
    transition: all 0.25s;
  }
  @media (max-width: 700px) {
    display: flex;
  }
}

.firstGym {
  max-height: 800px;
  @media (max-width: 1200px) {
    max-height: 700px;
  }
  @media (max-width: 700px) {
    max-height: unset;
  }
}

.thirdGym {
  max-height: 600px;
  @media (max-width: 1200px) {
    max-height: 600px;
  }
  @media (max-width: 700px) {
    max-height: unset;
  }
}

.numIcon {
  width: 45px;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 138px;
  left: 0;

  @media (max-width:1200px) {
    display: none;
  }
}

.line {
  //width: 100%;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  background-color: #D8D8D8;
  //margin-top: 138px;
  margin-top: 90px;

  @media (max-width: 1200px) {
    margin-top: 40px;
  }

  @media (max-width: 700px) {
    width: 100%;
  }
}

.item3times {
  position: relative;
  background-image: url("../../assets/images/gyms/bg-3times.png");
  background-size: contain;
  background-position: center;
  border-radius: 46px;
  width: 380px;
  height: 331px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap:20px;


  @media (max-width: 993px) {
    width: 334px;
    height: 316px;
    background-image: url("../../assets/images/gyms/bg-3times-m.png");
  }

  @media (max-width: 480px) {
    padding: 30px 0 30px 0;
    width: 320px;
    height: 276px;
    background-image: url("../../assets/images/gyms/bg-3times-s.png");
  }
}

.item2times {
  position: relative;
  background-image: url("../../assets/images/gyms/bg-2times.png");
  width: 380px;
  height: 264px;
  background-size: contain;
  background-position: center;
  border-radius: 46px;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap:20px;

  @media (max-width: 993px) {
    width: 334px;
    height: 254px;
    background-image: url("../../assets/images/gyms/bg-2times-m.png");
  }

  @media (max-width: 480px) {
    padding: 30px 0 30px 0;
    width: 320px;
    height: 214px;
    background-image: url("../../assets/images/gyms/bg-2times-s.png");
  }
}

.item2timesShot {
  position: relative;
  background-image: url("../../assets/images/gyms/bg-2times-shot.png");
  width: 380px;
  object-fit: cover;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap:20px;

  @media (max-width: 993px) {
    padding: 50px 0;
    width: 334px;
    background-image: url("../../assets/images/gyms/bg-2times-m.png");
    background-position: center;
    border-radius: 46px;
  }
}

.dayIcon {
  width: auto;
  height: 30px;
  object-fit: contain;
}

.timeText {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.text {
  font-size: 16px;
  margin: 0;
  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.smileIcon {
  width: 53px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 33px;
  right: 50px;

  @media (max-width: 480px) {
    right: 20px;
  }
}

.scrollIcon {
  width: 83px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 78px;
  right: 40px;
}

.eyesIcon {
  width: 35px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 150px;
  right: 47px;
}

.dataRow {
  display: flex;
  align-items: center;
  gap:5px;
}

.smile2Icon {
  width: 19px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 34px;
  right: 54px;
}

.signatureIcon {
  width: 53px;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 33px;
  right: 50px;

  @media (max-width: 480px) {
    width: 40px;
    right: 20px;
  }
}

.order1 {
  @media (max-width: 700px) {
    order:2;
  }
}

.order2 {
  @media (max-width: 700px) {
   order:2;
  }
}

.order3 {
  @media (max-width: 700px) {
    order:3;
  }
}

.order4 {
  @media (max-width: 700px) {
    order:4;
  }
}

.order5 {
  @media (max-width: 700px) {
    order:5;
  }
}

.list {
  padding-left: 25px;
  margin: 0;
}

.listWrapper {
  padding-left: 25px;
}

.customButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding: 18px 36px;
  background-color: #E1251B;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
  color:#ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: all 0.3s;

  &:hover {
    border: 2px solid black;
  }

  &:active {
    background-color: black;
  }

  &:disabled {
    background-color: #CDCBCA;
  }

  &:disabled::after {
    background-color: transparent;

  }

  @media (max-width: 992px) {
    font-size: 12px;
    padding: 16px 30px;
  }

}

.imgMark {
  width: 11px;
  height: 6px;
}


