.wrapper {
  width: 100vw;
  height: 138px;
  background-image: url("../../assets/images/footer/footer.svg");
  background-position: center;
  @media (max-width: 1200px) {
    padding: 0 40px;
  }
  @media (max-width: 700px) {
    padding: 0 20px;
  }
  @media (max-width: 600px) {
    padding: 0 10px;
  }
  @media (max-width: 500px) {
    padding: 0 5px;
    height: 150px;
  }
  @media (max-width: 480px) {
    padding: 0 20px;
    height: 252px;
  }
}
.contentBlock {
  max-width: 1180px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  column-gap: 2px;

  @media (max-width: 480px) {
    padding: 40px 0;
    flex-direction: column;
    height: 100%;
  }
}
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 138px;

  @media (max-width: 480px) {
    height: auto;
    gap: 40px;
  }
}

.column {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 480px) {
    height: unset;
    flex-direction: row;
    width: 100%;
  }
}

.textContent {
  font-weight: 500;
  font-size: 14px;
  color:#ffffff;
  margin: 0;

  @media (min-width: 481px) and (max-width: 665px) {
    font-size: 12px;
  }
}

.textRightReserve {
  font-weight: 500;
  font-size: 16px;
  color:#ffffff;
  margin: 0;
  cursor: pointer;

  &:hover {
    color: #c41414;
  }

  @media (min-width: 481px) and (max-width: 665px) {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    order:1;
    font-size: 14px;
  }
}


.textBlock {
  font-weight: 500;
  font-size: 16px;
  color:#ffffff;
  margin: 0;

  @media (min-width: 481px) and (max-width: 665px) {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    order:1;
    font-size: 14px;
  }
}

.rightBlock {
  @media (max-width: 480px) {
    justify-content: center;
    column-gap: 10px;
    font-size: 15px;
  }
}

.links {
  @media (max-width: 480px) {
    flex-direction: column;
    font-size: 14px;
  }
}

.link {
  color:#B0B0B0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #c41414;
  }
}

.designerTitle {
  color:#B0B0B0;
}

.link2 {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

.iconBlock {
  display: flex;
  gap: 5px;
  padding-left: 40px;

  @media (max-width: 480px) {
    order:2;
  }
}

.visaIcon {
  width: 50px;
  height: 23px;

  @media (min-width: 481px) and (max-width: 665px) {
    width: 35px;
    height: 16px;
  }
}

.masterCardIcon {
  width: 40px;
  height: 25px;

  @media (min-width: 481px) and (max-width: 665px) {
    width: 26px;
    height: 16px;
  }
}

.order1 {
  @media (max-width: 480px) {
    order:1;
  }
}

.order2 {
  @media (max-width: 480px) {
    order:2;
  }
}

.order3 {
  @media (max-width: 480px) {
    order:3;
  }
}