.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemWrapper {
  width: 360px;
  padding: 12px 0;
  border:1px solid black;
  border-radius: 44px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  @media (max-width: 480px) {
    width: 235px;
    padding: 6px 0;
  }
}

.mainTrainer {
  width: 380px;
  @media (max-width: 480px) {
    width: 250px;
  }
}

.rankWrapper {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  display: none;
  @media (max-width: 480px) {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 44px;
    border:1px solid black;
    width: fit-content;
  }
}

.lineIcon {
  width: 3px;
  height: 16px;
  @media (max-width: 480px) {
    display: none;
  }
}

.itemText {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 170%;

  @media (max-width: 992px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }

}

.linkText {
  transition: all 0.25s;
  &:hover {
    color: #c41414;
    transform: scale(1.03);
  }
}

.hideText {
  @media (max-width: 480px) {
    display: none;
  }
}