.overlay {
  position: fixed;
  z-index: 2003;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
}

.contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1180px;
  width: 90vw;
  max-height: 95vh;
  background: white;
  padding: 40px;
  border-radius: 46px;

  @media (max-width: 1200px) {
    padding: 40px 30px;
  }

  @media (max-width: 992px) {
    padding: 40px 30px;
  }

  @media (max-width: 480px) {
    padding: 40px 20px;
  }
}

.content {
  overflow-y: auto;
  width: 100%;
  max-height: 84vh;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  font-size: 30px;
  cursor: pointer;
  color: #000000;
  position: absolute;
  right: 40px;
  top: 3px;
  transition: all 0.25s;
  &:hover {
    transform: scale(1.2);
  }
}