@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: 'Gagalin';
  src: url('../../assets/fonts/gagalin/Gagalin-Regular.woff2') format('woff2'),
  url('../../assets/fonts/gagalin/Gagalin-Regular.woff') format('woff'),
  url('../../assets/fonts/gagalin/Gagalin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}



