.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2000;
  transition: background-color 0.3s ease;
}

.container {
  width: 1180px;
  margin: 0 auto;
}


.logo {
  width: 145px;
  height: 77px;

  @media (max-width: 1200px) {
    width: 90px;
    height: 48px;
  }

  @media (max-width: 992px) {
    width: 127px;
    height: 69px;
  }

  @media (max-width: 480px) {
    display: none;
  }
}

.fistLogo {
  width: 65px;
  height: 50px;
  @media (min-width: 481px) {
    display: none;
  }
}



.menu {
  @media (max-width: 991px) {

    position: absolute;
    top: 100px;
    right: 20px;
    padding-top: 50px;
    padding-bottom: 57px;
    background-color: white;
    width: 360px;
    margin-right: 0;
    margin-left: auto;
    border-radius: 24px;
    z-index: 2005;
  }

  @media (max-width: 480px) {
    border-radius: 0;
    margin: 0 auto;
    //width: 320px;
    width: 100vw;
    right: 0;
  }
}

.link {
  font-size: 16px;
  color: #000000 !important;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: #E1251B !important;
    transform: translateY(-10px);
  }

  @media (max-width: 991px) {
    margin-left: 20px;

    &:hover {
      color: #E1251B !important;
      transform: translateX(10px);
    }
  }
}

.mediaWrapper {
  display: block;
  @media (max-width: 991px) {
    display: none;
  }
}

.btnWrapper {
  display: none;
  @media (max-width: 991px) {
    display: inline-block;
    margin-left: auto;
  }
}

.langToggle {
  display: none;
  @media (max-width: 991px) {
    display: flex;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 24px
  }
}

.activeLang {
  color: #000000;
  cursor: pointer;
}

.notActiveLang {
  color: #737373;
  cursor: pointer;
}



