.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3000;
  @media (max-width: 480px) {
    background-color: white;
  }
}

.contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  padding: 20px ;
  border-radius: 46px;
  background: white;
  max-height: 99vh;

  @media (max-width: 700px) {
    width: 480px;
  }


  @media (max-width: 480px) {
    width: 100%;
    border-radius: 0;
    padding-top: 40px;
  }
}

.content {
  max-height: 95vh;
  max-width: 620px;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.title {
  font-size: 24px;
  color: #000000;

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
  color: #737373;
  @media (max-width: 480px) {
    margin-bottom: 20px;
  }
}




.closeBtn {
  font-size: 30px;
  cursor: pointer;
  color: #000000;
  transition: all 0.25s;
  &:hover {
    transform: scale(1.2);
  }
  @media (max-width: 480px) {
   position: absolute;
    right: 40px;
    top: 20px;
  }
}



.line {
  width: 100%;
  height: 3px;
  background-color: #D8D8D8;
  margin-bottom: 30px;
  @media (max-width: 480px) {
    margin-bottom: 20px;
  }
}


.formLabel {
  font-size: 16px;
  color:#000000;
}

.label {
  margin-bottom: 10px;
}

.checkbox {
  display: none;
}

.box {
  border-radius: 4px;
  display: inline-block;
  width:15px;
  height: 15px;
  border: 1px solid grey;
  margin-right: 5px;
  position:relative;
}

.box::after {
  border-radius: 2px;
  content:"";
  width: 10px;
  height: 10px;
  background-color: #E1251B;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s;
}

.checkbox:checked + .box::after {
  opacity: 1;
}

.btnBlock {
  display: flex;
  justify-content: flex-end;
}

.btnSubmit {
  width: 100%;
  position:relative;
  padding: 8px 12px;
  background-color: #E1251B;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  color:#ffffff;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  transition: 0.25s;
  cursor: pointer;

  &:hover {
    background-color: #E1251B;
    border: 2px solid black;
  }

  &:active::after {
    background-color: transparent;
  }

  &:active {
    background-color: black;
  }

  &:disabled {
    background-color: #CDCBCA;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
  }

}

.field {
  color: black;
  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.checkboxLabel {
  display: inline;
  margin: 0;
  padding: 0;
  @media (max-width: 480px) {
    font-size: 14px;
    margin-top: 10px;
  }
}

.footerLabel1 {
  font-size: 14px;
  color: #000000;
}
.footerLabel2 {
  font-size: 14px;
  color: #E1251B;
}

.wrap {
  @media (max-width: 480px) {
    display: none;
  }
}

.link {
  text-decoration: none;
}